*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgb(130, 106, 251);
}
.container
{
    position: relative;
    max-width: 700px;
    width: 50%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header
{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;

}
.container .form
{
    margin-top: 30px;
}
.form .input-box
{
    width: 100%;
    margin-top: 20px;
}
.input-box label
{
    color: #333;
}
.input-box input
{
    min-width: 0;
}
.form :where(.input-box input, .select-box)
{
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #add;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus
{
    box-shadow: 0 1px 0 rgba(0 ,0, 0, 0.1);
}
/* လိုင်းကို နားဘေးကပ်လျက်ထားချင်ရင်းသုံး*/
.form .column
{
    display: flex; 
    column-gap: 15px;
}
.form :where(.gender-option, .gender)
{
   display: flex;
   align-items: center;
   column-gap: 50px;
   flex-wrap: wrap;
}
.form .gender
{
    column-gap: 5px;
}
.gender input
{
    accent-color: rgb(130, 106, 251);
}
/* radio ကို ပြောင်းအောင်လုပ်ပေးတာ*/
.form :where( .gender input, .gender label)
{
    cursor: pointer;
}
.gender label
{
    color: #707070;
}
.form :where(input, .select-box)

/* လိုင်း နှစ်ခု space ချဲရင် margin-top နဲ့ရေး*/
{
    margin-top: 20px;
}
.input-box input
{
  width:100%;
  min-width: 0;
}
.select-box select
{
    height: 100%;
    width: 100%;
    outline: none;
    border: #707070;
    color: #707070;
    font-size: 1rem;

}
.form button
{
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition : all 0.2s ease;
    background-color: rgb(130, 106, 251);
}
.form button:hover
{
    background-color: rgb(88, 56, 250);
}
@media screen and (max-width: 500px){
  .form .column {
    flex-wrap: wrap;
  }

  .form .column .input-box {
    width: 100%;
    flex: 1 1 100%;
  }
}
